0x00-ES6_basic/node_modules/.bin
0x00-ES6_basic/node_modules/.cache/@babel/register/.babel.7.26.10.development.json
0x00-ES6_basic/node_modules/@ampproject/remapping
0x00-ES6_basic/node_modules/@babel
0x00-ES6_basic/node_modules
0x00-ES6_basic/package-lock.json
